* {
	margin: 0;
	padding: 0;
	font: 14px/1.5 '微软雅黑';
}
body {
	background-color:#EFEFEF; 
}

/*编译部分的样式*/

.head {
	width: 100%;
	height: 50px;
	background-color: #3476C5;
}
.head_log {
	display: inline-block;
	float: left;
	margin-left: 50px;
	padding-top: 8px;

	height: 50px;

	font-size: 20px;
	color: white;
	
}

.my_fifle {
	display: inline-block;
	float: left;
	margin-left: 50px;
	padding-top: 15px;

	height: 50px;

	color: white;
}




.compile_body {
	margin: 40px auto;
	width: 800px;
	box-sizing: border-box;

	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 5px 2px #BBBBBB;
}
.compile_title_box {
	text-align: center;
}
.compile_title {
	height: 50px;

	text-align: center;
	font-size:20px;
	font-weight: bold;
	border: none;
}
.compile_box {
	margin:0 auto;
	padding: 20px;

	width:640px;

	box-sizing: border-box;

	border-top: 2px solid #B6B6B6;
	border-bottom: 2px solid #B6B6B6;
}

#createArea {
	padding:0 16px;
	box-sizing: border-box;
}
.createArea_main_box {
	z-index: 1;
}
.createArea_input_title {
	margin-left:10px;

	border-style: none;
	background-color: inherit;

}
.createArea_input_select {
	margin-left:50px;

	border-style: none;

	background-color: inherit;
}
.createArea_textArea_mustSelect {
	float: right;

	cursor: pointer;
}
.createArea_textArea {
	margin-left: 40px;

	height: 150px;
	width:420px;

	resize: none
}
.createArea_add_select {
	height: 1.5em;
	width: 100%;

	text-align: center;
	cursor:pointer;
	background-color: #eeeeee;
	color: #2D2D2D;
}
.createArea_button_text {
	padding-left: 410px;
	width:100%;
	height: 30px;
	box-sizing: border-box;
}

.createArea_four_button {
	margin-left: 6px;
	float: right;
	cursor: pointer;
}
.compile_space {  /*存放点击后添加问题的div的样式*/
	margin: 0 auto;
	width:600px;
	border: 1px solid #C8C8C8;
}

.compile_space_hidebutton {
	padding-top: 10px;

	height: 50px;

	text-align: center;
}
.compile_space_hidebutton button {
	width:100px;
	height: 32px;
	margin-left: 20px;
}

#compile_radio {
	background-image: url();
}
#compile_multiple {
	background-image: url();
}
#compile_textbox {
	background-image: url();
}
.absolute_center {
	position: absolute;

	transform: translate(-50%, -50%); 
	top: 50%;
	left: 50%;

	font-size: 20px;
}

.compile_button {
	position: relative;
	height: 60px;

	text-align: center;
	font-size: 20px;
	color: #B3B3B3;
	cursor: pointer;
	background-color: #eeeeee;

}

.button_body {
	padding:40px 100px;

	height: 100px;
	
}
.button {
	display: inline-block;
	width: 80px;
	height: 30px;

	border:1px solid;
	border-radius: 5px;

	cursor:pointer;
}
#date_box {
	display: inline-block;
}
.button_style_white {
	margin-left: 150px;
	background-color: white;
}
.button_style_blue {
	margin-left: 40px;
	border-color: inherit;
	background-color: #3476C5;
	color: white;
}

/*首页的样式*/

.create_question_body {
	margin: 0 auto;
	position: relative;

	width: 600px;
	height: 400px;

	background-color: white;
}

.create_question_body button {
	position: absolute;

	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	width:100px;
	height: 50px;

	background-color: #3476C5;
	color: white;
}

.compile_body_span_title {
	display: inline-block;
	margin-left: 50px;

	width:200px;
}

.compile_body_span_time {
	display: inline-block;
	margin-left: 10px;

	width:150px;
}

.compile_body_span_state {
	display: inline-block;
	margin-left: 10px;

	width:70px;
}

.compile_body_span_button {
	

	margin-left: 140px
}