* {
	margin: 0;
	padding: 0;
	font: 14px/1.5 '微软雅黑';
}
body {
	background-color:#EFEFEF; 
}
li {
	margin-left: 10px;
	list-style-type: none;
}
.head {
	width: 100%;
	height: 50px;
	background-color: #3476C5;
}
.head_log {
	display: inline-block;
	float: left;
	margin-left: 50px;
	padding-top: 8px;

	height: 50px;

	font-size: 20px;
	color: white;
	
}

.my_fifle {
	display: inline-block;
	float: left;
	margin-left: 50px;
	padding-top: 15px;

	height: 50px;

	color: white;
}
.compile_body {
	margin: 40px auto;
	width: 800px;
	box-sizing: border-box;

	background-color: white;
	border-radius: 2px;
	box-shadow: 0 2px 5px 2px #BBBBBB;
}
#form_title {
	text-align: center;
	padding: 0 10px;

	font-size: 30px
}
#form_create {
	box-sizing: border-box;
	padding: 40px;
}

.form_area {
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #ccc;
	
}


.button_box {
	position: relative;

	height: 300px;
	width: 100%;
}
.button_box button {
	position: absolute;

	top:50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 100px;
	height: 40px;

	border-style: none;
	background-color: #3476C5;
	color: white;
	cursor:pointer;


}

@media screen and (min-width:1200px) {
	.compile_body {
		margin: 40px auto;
		width: 800px;
		box-sizing: border-box;

		background-color: white;
		border-radius: 2px;
		box-shadow: 0 2px 5px 2px #BBBBBB;
	}
	.createArea_textArea {
		margin-left: 40px;
		height: 150px;
		width: 420px;
		resize: none;
	}
}

@media  screen and (min-width: 320px) and (max-width:1200px) {
	.compile_body {
		margin: 20px auto;
		width: 70%;
		box-sizing: border-box;

		background-color: white;
		border-radius: 2px;
		box-shadow: 0 2px 5px 2px #BBBBBB;
	}
	.createArea_textArea {
		margin-left: 40px;
		height: 150px;
		width: 60%;
		resize: none;
	}

}

